beautifulsoup4
boto3
google-generativeai
instagrapi
kubernetes
langchain
langchain-core
langchain-google-genai
langgraph
matplotlib
numpy
opencv-python-headless
pandas
Pillow
psutil
python-dotenv
pywhatkit
requests
scikit-learn
seaborn
streamlit
textblob
twilio
